html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background-color: #d4d4d428 ;
}
.container {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    margin: 200px auto;  
}
.container h1 span {
    font-weight: 700;
}
.container h1 {
    font-size: 3rem;
}
.container span {
    font-size: 7rem;
}
.btn-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.btn {
    width: 125px;
    height: 40px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color:rgb(75, 75, 79);
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn:hover {
 background-color: #222;
}